<footer class="bg-light-gray pv4">
  <div class="flex-ns justify-between-ns items-center-ns">
    <span class="tc db pv3 mh6-l">&copy; UKoreview</span>

    <ul class="pa0 ma0 list tc pv3 mh6-l">
      {% for page in .site.partials %}
      {% capture id_title %}{{ page.title | remove:'/' | remove:' ' | downcase }}{% endcapture %}
      {% if page.type == "modular" %}
      <li class="dib mh3"><a href="#{{id_title}}" class="ttu dark-gray no-underline">{{page.title}}</a></li>
      {% endif %}
   {% endfor %}
    </ul>
</div>
</footer>
