

<header>
  <nav class="flex-l justify-between-l items-center-l">
      <a href="/" class="ttu dark-gray no-underline f2 fw8 w-100 w-auto-ns tc db mv3 mh6-ns">유코리뷰</a>


  <ul class="pa0 ma0 list w-100 w-auto-ns tc mv3 mh6-ns">
    {% for page in .site.partials %}
    {% capture id_title %}{{ page.title | remove:'/' | remove:' ' | downcase }}{% endcapture %}
    {% if page.type == "modular" %}
    <li class="dib mh3"><a href="#{{id_title}}" class="ttu dark-gray no-underline">{{page.title}}</a></li>
    {% endif %}
 {% endfor %}
  </ul>
  </nav>

</header>
